// Place all the styles related to the date_ideas_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.business-photo{
	height: 150px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}
.user-date{
	border: 2px solid #ddd;;
	padding: 5px;
	margin: 5px;
	width: 30%;
}