.login-body{
	text-align:center;
}
.login.modal-dialog{
	width: 500px;

}
.login > input{
	margin: 2px;
	width: 300px;
	height: 30px;
}
.fb-login-button{
	
	width: 300px;
}
.login-btn{
	width: 300px;
}
p.divider::before, p.divider::after{
	    background: rgba(0,0,0,0.2);
	box-shadow: 0 1px 0 rgba(255,255,255,0.5);
	content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 45%;


}
p.divider{
	font-weight: bold;
}